.label {
  position: absolute;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  color: var(--c-black-1);
  user-select: none;
  border: 0.1rem solid transparent; // to avoid push down type effect
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
