.page-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  &__block:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__working-area {
    background-color: var(--c-bg);
    width: 80%;
    height: 100%;
    z-index: var(--z-index-wr);
  }
  .active-element {
    border: 0.1rem solid var(--c-red);
  }
}
