@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  --c-white: #fff;
  --c-bg: #e5e5e5;
  --c-sb: #2d2d2d;
  --c-red: #d95409;
  --c-black-1: #000;
  --c-blue-1: #0044c1;
  --c-gray-1: #d9d9d9;
  --z-index-wr: 1;
  --z-index-sb: 10;
  --z-index-tb: 20;
}
